{% extends "base.html.twig" %}

{% block header %}
    <div id="logout">
        <a href="{{ urlFor('logout') }}">Logout <i class="fa fa-sign-out"></i></a>
    </div>
{% endblock header %}

{% block navigation %}
    <nav id="navigation">
      <ul>
          {% for slug, name in viewer.clients %}
              <li><a href="{{ urlFor('log', {"client": slug, "log": viewer.logs[clientSlug].logs|keys[0]}) }}" class="{% if clientSlug == slug %}active turquoise{% endif %}">{{ name }}</a></li>
          {% endfor %}
      </ul>
    </nav>
    <header id="logs">
      <ul>
          {% for key, log in viewer.logs[clientSlug].logs %}
              <li><a href="{{ urlFor('log', {"client": clientSlug, "log": key}) }}" class="{% if clientSlug == slug %}active{% endif %}">{{ log.name }}</a></li>
          {% endfor %}
          <li class="pull-right"><a href="#" onclick="$('#content').animate({ scrollTop: $('#content').prop('scrollHeight') - $('#content').height() }, 500); return false;"><i class="fa fa-arrow-circle-down"></i> Jump to newest entry</a></li>
      </ul>
    </header>
{% endblock navigation %}

{% block content %}

    <div id="content">

    {% if viewer.hasLogs() %}

        {% set thelog = viewer.getLog(client, log) %}

        {% for id, line in thelog.getLines() %}
            *
        {% endfor %}

    {% endif %}




  <?php
      if($viewer->hasLogs()) {
          $log = $viewer->getLog($_SESSION['client'], $_SESSION['log']);
          if($log instanceof LogFile) {
              if ($log->getLines()) {
                foreach($log->getLines() as $id => $line) {
                    $message = ($line['message'] != "") ? $line['message'] : '<span style="color: #cbcbcb; font-style: italic;">No Message</span>';
                    switch($line['level']) {
                        case 'DEBUG':
                          $levelIcon = 'bug';
                          $cssClass = 'debug';
                          break;
                        case 'INFO':
                          $levelIcon = 'info-circle';
                          $cssClass = 'info';
                          break;
                        case 'NOTICE':
                          $levelIcon = 'file-text';
                          $cssClass = 'notice';
                          break;
                        case 'WARNING':
                          $levelIcon = 'warning';
                          $cssClass = 'warning';
                          break;
                        case 'ERROR':
                          $levelIcon = 'times-circle';
                          $cssClass = 'error';
                          break;
                        case 'CRITICAL':
                          $levelIcon = 'fire';
                          $cssClass = 'critical';
                          break;
                        case 'ALERT':
                          $levelIcon = 'bell';
                          $cssClass = 'alert';
                          break;
                        case 'EMERGENCY':
                          $levelIcon = 'flash';
                          $cssClass = 'emergency';
                          break;
                    }
                    echo '<div class="logline clearfix level-'.$cssClass.'">';
                    echo '<div class="level level-'.$cssClass.'"><i class="fa fa-'.$levelIcon.'"></i>&nbsp;</div>';
                    echo '<div class="message">'.$message.'</div>';
                    echo '<div class="date">'.$line['date']->format("d.m.Y, H:i:s").'</div>';
                    echo '<div class="more" id="more-'.($id+1).'" onclick="toggleMore('.($id+1).');"><i class="fa fa-search-plus"></i> more...</div>';
                    echo '<div class="context" id="context-'.($id+1).'"><table>';

                    foreach($line['context'] as $title => $content) {
                        echo '<tr><td><strong>' . $title . '</strong></td>';
                        echo '<td>' . nl2br($content) . '</td></tr>';
                    }
                    echo '</table></div>';
                    echo '</div>';
                }
              }
              else {
                echo "The logfile is either empty or not in monolog format";
              }
          } else {
              echo "An error has occured!";
          }
      } else {
          echo '<div class="alert alert-danger alert-dismissable"><b>Error</b> - No accessible logs were found. Please check your config file.</div>';
      }

  ?>
</div>
{% endblock content %}
